<%= simple_form_for(@cocktail) do |f| %>
  <div class="field">
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
